<style type="text/css">
table.servers {
width: auto;
}
</style>

<h2>ステータス承認者表示画面</h2>
  <p>
    このプロジェクトで利用しているトラッカー内の、ステータス毎のチケット担当者を表示しています。
    <br/>
    このプラグインについての説明は本ページの下部を参照して下さい。
  </p>
<% @trackers_and_status_array.each do |tracker, status_array| %>
  <h4>トラッカー：<%=h tracker.name %></h4>

  <table class="list servers">
    <thead>
      <tr>
        <th>ステータス名</th>
        <% status_array[0].each do |status| %>
          <th>
            <%=h status.name %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>担当者名</th>
        <% status_array[1].each do |user| %>
          <td nowrap>
            <% if user.class == User %>
              <b><%=h user.name %></b>
            <% elsif user.class == String %>
              <%=h user %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>
<br/>
※担当者が空白の箇所は、チケットの担当者自動変更は行いません。
<br/>
　なお、例外的に、担当者のあるステータスから、担当者の無いステータスに変更すると、
<br/>
　チケットの担当者は、「チケット作成者」に自動で変更されますので、ご注意下さい。
<br/>
<br/>

<h3>このプラグインについて</h3>
<h4>概要</h4>
<p>
特定のルールに従って、ステータス名を登録しておくと、
<br/>
チケットのステータス更新時に担当者が自動で変更されます。
</p>
<h4>使い方</h4>
<p>
管理画面でステータスの名前の後ろに、以下を追加します。
<br/>
　・「＠」(全角アットマーク)と
<br/>
　・ロール名（このステータスのチケットを担当させたいメンバーが、所属しているロール名）
<br/>
<br/>
例）承認待ち＠管理者
<br/>
→これだけで、チケットのステータスが承認待ち＠管理者に変更された場合、
<br/>
チケットの担当者が管理者ユーザーに自動で変更されます。
</p>
<h4>※注意事項</h4>
<p>
ロールのメンバーは必ず１名登録して下さい。
<br/>
細かくステータス毎の担当者を割り振りたい場合は、適宜、ロールを作成して下さい。
</p>
